.top {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 10px;
}

.topLeft {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

.topRight {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerLeft {
    position: absolute;
    top: 50%;
    left: 0;
}

.centerRight {
    position: absolute;
    top: 50%;
    right: 0;
}

.below {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 10px;
}

.belowLeft {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

.belowRight {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}